/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */
@font-face {
    font-family: "awesome-font";
    src: url(fontawesome-webfont.ttf) format("truetype");
}

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* CUSTOM BACKGROUND CHANGE ON SCROLL */
html {
    background-image: url("/images/chef-bg.jpg");
}

html.two {
    background-image: url("/images/bgtwo.jpg");
}

html.three {
    background-image: url("/images/bgthree.jpg");
}

html.four {
    background-image: url("/images/bgfour.jpg");
}


/* END CUSTOM BACKGROUND CHANGE ON SCROLL */

#titlesoup {
    font-size: 3em;
    color: white;
    font-weight: 800;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-family: "awesome-font", Verdana, Tahoma;
    background-color: lightcoral;
    margin: 0 30%;
    padding: 1% 0;
}

h2 {
    font-size: 3em;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "awesome-font", Verdana, Tahoma;
    margin-bottom: 10px;
}

h3 {
    font-size: 1em;
    color: lightcoral;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: "awesome-font", Verdana, Tahoma;
    margin: 5% 30%;
    padding: 1% 0;
    background-color: white;
}

h6 {
    padding: 20px;
    text-align: center;
    color: white;
}

.name {
    text-align: center;
    margin-top: 15%;
}

.content {
    background-color: #e8cfcf;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header4 {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 2em;
    color: rgb(97, 104, 107);
    font-weight: 800;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-family: "awesome-font", Verdana, Tahoma;
    margin: 0 0 1em;
    text-align: center;
}

.ptag {
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    color: grey;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    text-align: justify;
    font-size: 20px;
    line-height: 1.3;
}


.nav {
    /* overflow: hidden; */
    background-color: #474747;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    align-items: center;
}

.nav a {
   float: center;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   margin-left: 10px;
   text-decoration: none;
   
}

.nav a:hover {
    color: lightcoral;
}

.placeholder {
    height: 168px;
}

.actions {
    display: flex;
    
}

.pages {
    display: flex;
    margin-left: 110px;
}

.pages a {
    font-family: "awesome-font", Verdana, Tahoma;
    border: 1px solid white;
}

.scroll {
    padding-bottom: 20px;
}

.scroll {
    display:flex;
    justify-content: center;
}

.logosoup {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo {
    color: lightcoral;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.loginbtn {
    width: 150px;
    height: 50px;
}

.themeselect {
    border: 1px solid white;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

#t1, #t2, #t3, #tabout, #tv {
    font-size: 40px;
}

#p1, #p2, #p3, #pabout, #pv {
    font-size: 30px;
}

#p2, #pv {
    text-align: center;
}

.image-container {
    height: 600px;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phimg1, .phimg2, .phimg3  {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}



/* MEDIA QUERIES FOR RESPONSIVE LAYOUT */
 
@media(max-width:1426px) {
    #titlesoup {
        margin: 0 25%;
        padding: 1% 0;
    }
}

@media(max-width:1148px) {
    #titlesoup {
        margin: 0 20%;
        padding: 1% 0;
    }
}

@media(max-width: 987px) {
    #pabout {
        font-size: 20px;
    }
}

@media(max-width: 927px) {
    .logo {
        white-space: nowrap;
    }

    .aboutus {
        white-space: nowrap;
    }

    .themeselect {
        white-space: nowrap;
    }

    #t1, #t2, #t3, #tabout, #tv {
        font-size: 30px;
    }
    
    #p1, #p2, #p3, #pabout, #pv {
        font-size: 20px;
    }
    
}

@media(max-width:962px) {
    #titlesoup {
        margin: 0 15%;
        padding: 1% 0;
    }
}

@media(max-width: 897px) {
    .nav {
        flex-direction: column;
        height: auto;
    }
    .pages {
        margin-left: 0px;
    }
    
    .pages a {
        font-family: "awesome-font", Verdana, Tahoma;
        border: none;
        margin-top: 15px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .actions {
        border-top: 1px solid gray;
        display: flex;
        align-items: center;
    }

    .actions a {
        margin: 0 40px;
    }

    .loginbtn {
        width: 120px;
        height: 40px;
        padding-left: 20px;
    }

    .logo {
        font-size: 20px;
    }

    .themeselect {
        border: none;
    }
}

@media(max-width:829px) {
    #titlesoup {
        font-size: 2em;
        margin: 0 20%;
        padding: 1% 0;
    }
    h3 {
        margin: 5% 10%;
        padding: 1% 1%;
        background-color: white;
    }
    .content {
        background-color: #e8cfcf;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(max-width: 668px) {

    .themeselect {
        border: none;
        height: 50px;
        margin-top: 15px;
        border-radius: 10px;
    }

    .loginbtn {
        width: 120px;
        height: 40px;
    }

    .actions {
        display: flex;
        align-items: center;
    }
}

@media(max-width:652px) {
    #titlesoup {
        font-size: 2em;
        margin: 0 15%;
        padding: 1% 0;
    }
}

@media (max-width:563px) {
    #titlesoup {
        font-size: 2em;
        margin: 30% 8%;
        padding: 5% 1%;
    }
}

@media (max-width:547px) {
    #titlesoup {
        font-size: 2em;
        margin: 30% 8%;
        padding: 5% 1%;
    }

    .logo {
        font-size: 15px;
    }

    .ptag {
        font-size: 15px;
    }
    .logosoup {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

@media (max-width: 510px) {
    #pabout {
        font-size: 15px;
    }
    #tv {
        font-size: 20px;
    }
}

@media (max-width: 486px) {
    .nav a {
        padding: 14px 8px;
        white-space: nowrap;
    }

    #titlesoup {
        white-space: nowrap;
        font-size: 30px;
    }
}

@media (max-width: 441px) {
    #titlesoup {
        font-size: 20px;
    }
}
/* END MEDIA QUERIES FOR RESPONSIVE LAYOUT */